:root{
	--pink: #e84393;
}

*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}
section{
	padding: 2rem 9%;
}
.button{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #333;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
}
.button:hover{
	background-color: var(--pink);
}

header{
	top: 0; left: 0; right: 0;
	background: #fff;
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
	font-size: 2rem;
	color: #333;
	font-weight: bold;
}
header .logo span{
	color: var(--pink);
}


.home{
	display: flex;
	align-items: center;
	min-height: 88vh;
	background: rgb(242, 206, 211);
}
.home .content{
	max-width: 50rem;
}
.home .content h3{
	font-size: 6rem;
	color: #333;
}
.home .content span{
	font-size: 3.5rem;
	color: var(--pink);
	padding: 1rem 0;
	line-height: 1.5;
}
.home .content p{
	font-size: 1.5rem;
	color: #999;
	padding: 1rem 0;
	line-height: 1.5;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4,300px);
	grid-template-rows: repeat(5,220px);
	justify-content: center;
	align-content: center;
	gap: 40px;
	margin-top: 30px;
  }
  figure{
	background:silver;
	display:block;
	width:300px;
	height:220px;
	margin:0;
	padding:0;
  }
 
 .item-container{
   display:flex;
   flex-direction:column;
 }
 
 .t{
   margin-top:5px;
 }